/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.TopContainer {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;

}

.MiddleContainer {
    display: flex;
    flex-direction: column; 
}


.text-views {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    text-align: left; 
    
}

.text-views p {
    margin-right: 0; 
    margin-top: 40px;
  
}

.text-views label {
    font-weight: bold;
   
}

.text-views input {
    margin-left: 0; 
   
    
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #313e4b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0e1216;
}
